*{
    margin: 0px;
    padding: 0px;
}

#produto{
    background: #fdfdfd;
    display: none;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-areas:    "a b c"
                            "img nome nome"
                            "img preco preco"
                            "img categoria quantidade"
                            "remover x y"
                            "atualizar e f";
    grid-gap: 0.5rem;
    font-family: Noto Sans, sans-serif;
}

#categoria{
    grid-area: categoria;
    justify-self: center;
    align-self: center;
}

.propriedade h3{
    font-size: 1rem;
    text-transform: uppercase;
}

.propriedade p{
    font-size: 1.8rem;
}

#produto-img{
    width: 250px;
    grid-area: img;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
}

#preco{
    grid-area: preco;
    font-size: 2.5rem;
    justify-self: center;
    align-self: start;
}

#nome{
    border-bottom: 2px solid #41B3A3;
    grid-area: nome;
    font-size: 2.5rem;
    justify-self: center;
    align-self: end;
}

#quantidade{
    grid-area: quantidade;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 5px;
}

#remover{
    grid-area: remover;
    justify-self: center;
    width: 250px;
    height: 100%;
    background: #e8a87c;
    text-align: center;
}

#remover:hover{
    background: #e27d60;
    cursor:pointer;
}

#remover span{
    display: block;
    margin-top: 4px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  

button{
    border: none;
}

button:hover{
    cursor:pointer;
}

#atualizar{
    grid-area: atualizar;
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "up atu"
                            "down atu";
    grid-gap: 1px;
    width: 250px;
    justify-self: center;
    align-self: start;
    height: 100%;
}

#incQtd{
    grid-area: up;
}

#decQtd{
    grid-area: down;

}

#atuQtd{
    grid-area: atu;
}

.hoverGreen:hover{
    outline: 1px solid green;
}

.hoverGreen{
    background: #c38d9e;
}

#produtoDeletado{
    margin-top: 3rem;
    margin: 0px auto;
    text-align: center;
    display: none;
}

#produtoDeletado p{
    margin-top: 2rem;
}

#produtoDeletado p:hover{
    cursor:pointer;
    text-decoration: underline;
}

#feedback{
    transition: 500ms;
    display: none;
    text-align: center;
    margin: 0px auto;
    grid-area: y;
}

#voltar{
    grid-area: c;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "img text";
}

#voltar img{
    width: 2rem;
    grid-area: img;
    justify-self: end;
    align-self: center;
}

#voltar span{
    grid-area: text;
    justify-self: start;
    align-self: center;
}

#voltar span:hover{
    text-decoration: underline;
    cursor: pointer;
}

#carregando img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7rem;
    margin-top: 10rem;
}