#principal{
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 5fr;
    grid-template-areas:    "menu menu"
                            "sidebar produtos";
    grid-gap: 1rem;
}

#produtos{
    width: 700px;
    grid-area: produtos;
    transition: all 100ms linear;
}

#menu{
    grid-area: menu;
}

.produto{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);

    margin-bottom: 0.3rem;
    background: white;
    height: 3rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 600;
    color: #41b3a3;
    text-transform: capitalize;


    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    grid-template-areas: "apagar nome quantidade mais";
}

.verProduto{
    grid-area: mais;
    align-self: center;
    justify-self: right;
    margin-right: 1rem;
}

.verProduto:hover{
    cursor: pointer;
    text-decoration: underline;
}

.nomeProduto{
    grid-area: nome;
    align-self: center;
}

.qtdProduto{
    grid-area: quantidade;
    align-self: center;
}

#img-apagar{
    width: 25px;
    grid-area: apagar;
    justify-self: center;
    align-self: center;
}

#img-apagar:hover{
    cursor:pointer;
}

aside{
    width: 200px;
    box-sizing: border-box;
    padding: 1rem;
    grid-area: sidebar;
    height: 12rem;
    border-radius: 10px;
    text-transform: uppercase;
    color: #41b3a3;
}

aside h1{
    font-size: 1rem;
}

aside ul{
    list-style-type: none;
    padding: 0px;
}

aside li{
    line-height: 1.5rem;
}

aside li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.produtoExemplo span{
    font-size: 1rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
}

.produtoExemplo{
    margin-bottom: 0.3rem;
    background: lightgray;
    height: 3rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 300;
    color: gray;
    text-transform: capitalize;
}

#navLinks{
    border: 1px solid #41b3a3;
}