#navbar{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline;
}

#navbar a:link{
    text-decoration: none;
    color: initial;
}

#navbar a:visited{
    color: #41b3a3;
}

#navbar-container{
    margin-left: 5rem;
    box-sizing: border-box;
    display: inline;
}

#navbar li{
    display: inline;
    padding-right: 10px;
    text-transform: uppercase;
    padding: 0.8rem;
    overflow: hidden;
    
}

#navbar li:hover{
    background: #41b3a3;
    color: #fdfdfd;
    cursor: pointer;
}

#menu-container h1{
    margin-left: 2rem;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#menu-container h1:hover{
    color: #e8a87c;
}

#menu-container{
    background: red;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    color: #41b3a3;
    background: white;
    border-bottom: 2px solid #41b3a3;
    margin: 0px auto;
}


#logout {
    float: right;
    position: relative;
    top: 1.2rem;
}

#title{
    display: none;
}

.listarProdutoMenu li[id='listar-produto']{
    background: #41b3a3;
    color: #fdfdfd;
}

.cadastrarProdutoMenu li[id='cadastrar-produto']{
    background: #41b3a3;
    color: #fdfdfd;
}

#welcome{
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    right: 14.4rem;
    text-decoration: underline;
}